@charset "UTF-8";
.bg-dark {
    background-color: #eedd66 !important;
}
ul.navbar-nav {
    margin: 0 auto;
}
.navbar-dark .navbar-nav .nav-link  {
    color: #006699;
}
.navbar-dark .navbar-nav .nav-link:hover   {
    color: #000;
}
.navbar-nav .nav-item {
    border: 1px solid #ffff33;
    background-image: -webkit-linear-gradient(270deg,rgba(238,221,0,1.00) 0%,rgba(255,255,51,1.00) 100%);
    background-image: linear-gradient(180deg, #eedd00 0%, #ffff33 100%);
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 108px;
}
.navbar-nav .nav-item:hover  {
    background-image: -webkit-linear-gradient(90deg,rgba(238,221,0,1.00) 0%,rgba(255,255,51,1.00) 100%);
    background-image: linear-gradient(0deg,rgba(238,221,0,1.00) 0%,rgba(255,255,51,1.00) 100%);
}
header h2 {
    font-family: Impact, "Helvetica Neue Condensed Black", "Roboto Black", "Arial Black", "Arial Bold", sans-serif;
    color: #eedd66;
    font-size: 350%;
    text-shadow: 0px 5px 11.05px rgba(0, 0, 0, 0.56);
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 0.12em;
    margin-top: 1em;
}
header h2 a:link, header h2 a:visited {
    color: inherit;
    text-decoration: none;
}
.container .navbar-brand {
    display: none;
}
header p {
    color: #ffffff;
    font-size: 150%;
    font-weight: 700;
    text-shadow: 0px 3px 5.95px rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 1em;
    letter-spacing: 0.4em;
}
header {
    background-color: #EEDD55;
    background-image: url(images/favcity-logo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
    height: 212px;
    margin-top: 2.6em;
}
nav .container {
    border-bottom: 2px solid #FF3;
    padding-bottom: 10px;
}
body {
    border-right: 15px solid #ED5;
    border-left: 15px solid #ED5;
    font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
h2 {
    font-family: pt-sans;
    font-style: normal;
    font-weight: 700;
    font-size: 250%;
    line-height: 1em;
}
footer {
    /* [disabled]padding-top: 5px; */
    background-color: #ED5;
    color: #069;
}
address {
    color: #069;
}
table {
	font-size: 90%;
	width: 95%;
	margin-bottom: 2em;
	border-bottom: 3px solid #069;
	border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: left;
    border-top: 1px solid #069;
}
th {
    color: #FFC;
    text-align: center;
    border-bottom: 6px solid #046;
    background-color: #069;
}
.date {
    width: 25%;
}
.seminar {
    width: 25%;
}
.event {
    width: 45%;
}
.description {
    width: 45%;
}
.location {
}
.cost {
    width: 10%;
    text-align: center;
}
.length {
    width: 10%;
    text-align: center;
}
.day {
    width: 10%;
    text-align: center;
}
.seminar {
}
table caption {
    margin-top: 20px;
    padding-bottom: 10px;
    color: #069;
    font-size: 160%;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    caption-side: top;
}
.profile {
    border-left: 3px solid #069;
    border-bottom: 10px solid #069;
}
.carousel-caption {
    font-size: 130%;
    font-weight: 700;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}
.carousel-caption h5 {
    font-size: 130%;
    font-weight: 700;
}
.media-body p a {
    font-size: 90%;
}
.ctr {
    text-align: center;
    margin-top: 2em;
}
.fcname {
	color: #776600;
	font-weight: bold;
}
.mobile-spacer {
    display: none;
}

@media  screen and (max-width:991.98px){
.navbar-nav .nav-item {
    border-left: 1px solid #ffff33;
    border-right: 1px solid #CC0;
    border-bottom: 1px solid #CC0;
    border-top: 1px solid #ffff33;
    text-align: left;
    width: 100%;
    background-image: none;
    background-color: #FF6;
    padding-left: 10px;
}
header h2 {
    font-size: 300%;
    letter-spacing: 0.05em;
}
header p {
    font-size: 130%;
    font-weight: 700;
    letter-spacing: 0.2em;
}
header {
    height: 190px;
    background-size: 80% auto;
}
}

@media  screen and (max-width:659.98px){
header h2 {
    font-size: 230%;
    letter-spacing: 0.03em;
    margin: 1.4em 0 0 0;
    line-height: 1.5em;
}
header p {
    font-size: 100%;
    letter-spacing: 0.3em;
}
header {
    height: 160px;
    background-size: 80% auto;
}
}

@media screen and (max-width: 500px){
header.row {
    display: none;
}
.mobile-spacer {
    height: 60px;
    display: block;
}
.container .navbar-brand {
    display: block;
    color: #069;
    font-weight: bold;
}
h4 {
    font-size: 135%;
}
section td, section th {
    display: block;
}
section table {
    margin: 10px auto;
}
section th {
    margin: 0;
    padding: 0;
    height: 0;
    border: none;
    font-size: 0pt;
    overflow: hidden;
}
td.date:before {
    content: "Date: ";
}
	td.event:before	{ content: "Event: " ; }
	td.location:before	{content: "Location: " ;}
	td.cost:before	{ content: "Cost: "; }
	td.seminar:before	{ content: "Seminar: "; }
td.event:before	{
	content: "Event: ";
}
	td.description:before	{ content: "Description: " ; }
	td.day:before	{ content: "Day: " ;}
td.date:before	{
	content: "Date: ";
}
	td.length:before	{content: "Length: "; }
	section .date,
	section .event,
	section .location,
	section .cost,
	section .seminar,
	section .description,
	section .length,
	section .day {
    width: 100%;
    padding-left: 30%;
    position: relative;
    text-align: left;
}
td:before {
    width: 25%;
    display: block;
    padding-right: 10px;
    position: absolute;
    top: 6px;
    left: 1em;
    color: #069;
    font-weight: bold;
    white-space: nowrap;
}
section tr {
    border-bottom: solid 2px #069;
}
section tr:nth-of-type(even) {
    background-color: #FFC;
}

}


@media screen and (max-width:350px){
address.col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
h2 {
    font-size: 180%;
}
}
